.popup__heading {
    padding: 25px 0 0 22px;
    margin: 0;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

@media screen and (min-width: 1000px) {
    .popup__heading {
        padding: 33px 0 0 36px;
        font-size: 24px;
        line-height: 29px;
    }
}