@keyframes positioning {
    from {
        position: absolute;
    } to {
        position: static;
        left: 0;

    }
}

.header__logo {
    position: absolute;
    margin: 25px 0 0;
    z-index: 2;
    transition: all .5s;
    width: 105px;
    height: 25px;
    top: 0;
    left: 30px;
    transform: translate(0%, 0%) scale(1);
    animation: positioning 0s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}

@media screen and (min-width: 620px) {
    .header__logo {
        margin: 45px 0 0;
        width: 142px;
        height: 33px;
        left: 0;
    }
}