.popup__save-button {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 13px 81px;
    margin: 44px auto 32px;
    transition: opacity .5s ease;
    background-color: black;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    display: block;
}

@media screen and (min-width: 1000px) {
    .popup__save-button {
        width: calc(100% - 72px);
        margin: 48px auto 36px;
        font-size: 18px;
        line-height: 22px;
        padding: 13px 132px;
    }
}

.popup__save-button:hover {
    opacity: 0.8;
}