.profile__name-box {
    margin: 0 auto 0;
    /* display: flex; */
    width: fit-content;
    text-align: center;

    /* width: max-content; */
    max-width: 250px;
}

@media screen and (min-width: 600px) {
    .profile__name-box {
        max-width: 400px;
    }
}

@media screen and (min-width: 1000px) {
    .profile__name-box {
        max-width: 500px;
        margin: 0;
        text-align: left;
    }
}