
.page {
    background-color: #000000;
    font-family: "Inter", "Arial", sans-serif;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    min-height: 100vh;
}