.profile {
    display: flex;
    flex-direction: column;
    max-width: 880px;
    padding: 41px 0 0;
}

@media screen and (min-width: 1000px) {
    .profile {
        padding: 40px 0 0;
        flex-direction: row;
        justify-content: flex-start;
    }
}