.header__title {
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    padding: 34px 0 0;
    font-weight: 400;
    text-align: right;
}

@media screen and (min-width: 577px) {
    .header__title {
        font-size: 18px;
        line-height: 22px;
        padding: 51px 0 0;
    }
}