.form__error {
    display: none;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    top: calc(100% + 5px);
    left: 0;
    padding: 0;
    position: absolute;
    z-index: 2;
    max-height: 32px;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    overflow: hidden;
}