.elements__table {
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: 282px;
    list-style-type: none;
    column-gap: 17px;
    row-gap: 20px;
    max-width: 880px;
}

@media screen and (min-width: 610px) {
    .elements__table {
        grid-template-columns: repeat(2, 282px);
    }
}

@media screen and (min-width: 1000px) {
    .elements__table {
        grid-template-columns: repeat(3, 282px);
    }
}