.header__burger_res_mobile {
    display: flex;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    height: 0px;
    border-bottom: 1px solid rgba(54, 54, 54, 0.7);
    padding: 0;
    overflow: hidden;
    transition: height .2s ease, visibility .2s linear;
}

@media screen and (min-width: 620px) {
    .header__burger_res_mobile {
        display: none;
    }
}