.elements__empty {
    text-align: center;
    margin: 20px auto;
    vertical-align: middle;
    color: white;
    font-weight: 900;
    font-size: 40px;
    display: none;
}

@media screen and (min-width: 400px) {
    .elements__empty {
        margin: 100px 20px;
    }
}

@media screen and (min-width: 900px) {
    .elements__empty {
        margin: 200px 20px;
        font-size: 60px;
    }
}
