.profile__add-button {
    height: 50px;
    width: 282px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    margin: 0 auto;
    cursor: pointer;
    transition: opacity .5s ease;
    background-color: transparent;
    background-image: url("../../../images/plus.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (min-width: 1000px) {
    .profile__add-button {
        background-size: 22px 22px;
        margin: 35px 0 0 auto;
        width: 150px;
    }
}