.elements__like-button {
    height: 20px;
    width: 22px;
    cursor: pointer;
    transition: opacity .2s ease;
    background-image: url("../../../images/like.svg");
    background-size: contain;
    border: 0;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    padding: 0;
}

.elements__like-button:hover {
    opacity: 0.6;
}