.profile__picture-edit {
    height: 124px;
    width: 124px;
    margin: 0 auto 25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1000px) {
    .profile__picture-edit {
        margin: 0 30px 24px 0;
    }
}