.popup__exit {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -50px;
    right: -8px;
    padding: 0;
    cursor: pointer;
    transition: opacity .2s ease;
    background-image: url("../../../images/Close_Icon.svg");
    border: 0;
    background-color: transparent;
    background-size: cover;

}

.popup__exit:hover {
    opacity: 0.6;
}

@media screen and (min-width: 1000px) {
    .popup__exit {
        width: 54px;
        height: 54px;
        top: -45px;
        right: -45px;
    }
}