.header__link_theme_dark {
    font-size: 18px;
    line-height: 22px;
    color: #A9A9A9;
    padding: 0;
    margin: 18px 0 40px;
}

@media screen and (min-width: 577px) {
    .header__link_theme_dark {
        margin: 0;
    }
}