.elements__trash {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 30px;
    width: 30px;
    background-color: #5e5f693a;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    transition: opacity .2s ease;
}

.elements__trash:hover {
    opacity: 0.6;
}