.form__input {
    display: block;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px 0 5px 3px;
    margin: 0;
    outline-color: #097ce7b2;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    background-color: inherit;
}

.form::placeholder {
    color: #C4C4C4;
}